*{
    text-align: center;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #FF00FF, #00FFFF);
}
.btn{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 1rem;
    border:  7px solid black;
}
.btn-Container{
    display: flex;
    justify-content: center;
    border: 3px solid #0e1111;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}
.yellow{
    background-color: #FFF9B0;
}
.green{
    background-color: #A8E6CF;
}
.red{
    background-color: #FF8B94;
}
.purple{
    background-color: #8ED1FC;
}
.userflash{
    background-color: whitesmoke;
}
.flash{
    background-color: green;
}